@font-face {
	font-family: "Galderma";
	src: url("../fonts/GALDERMA-Regular.otf") format("opentype");
}
@font-face {
	font-family: "SegmaRegular";
	src: url("../fonts/Segma-Regular.otf") format("opentype");
}
@font-face {
	font-family: "SegmaBold";
	src: url("../fonts/Segma-Bold.otf") format("opentype");
}
@font-face {
	font-family: "SegmaLight";
	src: url("../fonts/Segma-Light.otf") format("opentype");
}
@font-face {
	font-family: "SegmaMedium";
	src: url("../fonts/Segma-Medium.otf") format("opentype");
}
@font-face {
	font-family: "SegmaSemiBold";
	src: url("../fonts/Segma-SemiBold.otf") format("opentype");
}
@font-face {
	font-family: "SegmaLightItalic";
	src: url("../fonts/Segma-LightItalic.otf") format("opentype");
}
*{
    margin:0;
    padding: 0;
}
.sB{
    font-family: "SegmaSemiBold";
}
.sL{
    font-family: "SegmaLight";
}
.wrapper{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    color: #181b21;
}
/**** assessment ***/
.assessment{
    display: flex;
    flex-direction: column;
    position: relative;
}
.a{
    font-family: "Galderma";
    font-size: 98px;
}
.assess{
    font-family: "Galderma";
    margin: 0;
    font-size: 24px;
    margin-top: -4px;
    margin-bottom: 16px;
}
.body{
    font-family: "SegmaLight";
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 16px;
}
.list{
    font-family: "SegmaMedium";
    font-size: 12px;
    margin-left: 4px;
    line-height: 18px;
    margin-bottom: 16px;
    list-style-position: inside;
}
.ImgTxt{
    color: #786aad;
    display: flex;
    align-items: center;
}
.ImgTxt a{
    margin-left: 16px;
    font-size: 20px;
    cursor: pointer;
    color: #786aad;
    text-decoration: none;
}
/**** consultation ***/
.consultation{
    background-color: #f5f3f2;
}
.title{
    font-size: 28px;
    text-align: center;
    padding: 75px 0px 40px 0;
}
.process-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.process{
    width: 470px;
    padding:0 8px;
    margin-bottom: 50px;
}
.header{
    border-right: 1px solid #000;
    color: #fff;
    border-left: 1px solid #000;
    padding: 0px 0 20px 0px;
}
.header p{
    background: #000;
    text-align: center;
    padding: 8px 0;
}
.steps{
    font-family: "SegmaMedium";
    font-size: 14px;
    display: grid;
    padding: 0 40px;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    line-height: 16px;
}
.steps div div{
    display: flex;
    margin-left: -22px;
    margin-top: 14px;
    min-height: 115px;
}
.steps div div span{
    padding: 0 12px 0 0;
}
.steps div img{
    height: 40px;
}
.download{
    color: #786aad;
    text-decoration: none;
    border: 1px solid #786aad;
    padding: 8px 10px;
    display: flex;
    margin-top:24px;
    font-size: 12px;
}
.download img{
    width: 33px;
    height: 29px !important;
    margin-right: 10px;
}
/*******facets********/
.facets-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 10px;
    padding-bottom: 50px;
}
.facets{
    background-color: #f5f3f2;
    padding-bottom: 50px;
}
.hex {
    width: 271px;
    background-color: #fff;
    border-color: #fff;
    position: relative;
    display: inline-block;
    height: 170px;
    margin: 35px 7px 35px 7px;
}
.hex:before {
    content: "";
    width: 0;
    height: 0;
    border-bottom: 60px solid;
    border-color: inherit;
    border-left: 135px solid transparent;
    border-right: 135px solid transparent;
    position: absolute;
    top: -60px;
}
.hex:after {
    content: "";
    width: 0;
    position: absolute;
    bottom: -60px;
    border-top: 60px solid;
    border-color: inherit;
    border-left: 135px solid transparent;
    border-right: 135px solid transparent;
}
.hex-content{
    text-align: center;
    margin-top: -20px;
}
.hex-title{
    white-space: pre-line;
    padding: 0 40px;
    position: relative;
}
.hext-txt{
    font-size: 10px;
    padding: 5px 0;
    border-top: 1px solid #181b21;
    margin: 8px 28px;
}
.plus{
    width: 20px;
    margin-top: 10px;
    cursor: pointer;
}
.small-txt{
    font-size: 10px;
    text-align: center;
}
/**********modal************/
.popup_main{
    position: relative;
    z-index: 9;
}
.popup_body{
    display:none;
    position:fixed;
    top:0;left:0;right:0;bottom:0;
    -webkit-transition: 300ms;
      -moz-transition: 300ms;
      -o-transition: 300ms;
      -ms-transition: 300ms;
      transition: 300ms;
}
.popup_body_show{
    display:block;
    -webkit-transition: 300ms;
      -moz-transition: 300ms;
      -o-transition: 300ms;
      -ms-transition: 300ms;
      transition: 300ms;
}
.popup_back{
    background: rgba(0,0,0,0.4);
    position: fixed;
    left:0;right:0;top:0;bottom:0;
}
.popup_contain{
    position:relative;
    background:#fff;
    min-width:300px;
    max-width:80%;
    margin:20px auto 50px;
    min-height:150px;
    padding: 10px 20px;
}
.popup_close{
    background: #786aad;
    font-family: "SegmaLight";
    padding: 8px 11px;
    position: absolute;
    right: -15px;
    top: -15px;
    color: #fff;
    border-radius: 50%;
    cursor:pointer;
}
.popup-content{
    max-height: calc(100vh - 100px);
    overflow-y: auto;
}
.popup-img{
    width: 100%;
}
.opacity{
    opacity: 0;
}
.overflow{
    overflow: hidden;
}
/************fas**************/
.fas{
    background-color: #becdf0;
}
.input{
    background: none;
    background-color: #fff;
    border: none;
    height: 20px;
    background-image: none !important;
    margin-bottom: 12px;
    outline: none;
    padding: 0 2px;
    font-family: "SegmaLightItalic";
}
.fas-form{
    display: grid;
    padding-bottom: 25px;
    grid-template-columns: 2fr 2fr 1fr;
    grid-gap: 25px;
    padding: 0 60px 25px 50px;
}
.fas-form div{
    display: flex;
    flex-direction: column;
}
.fas-content{
    background: #fff;
    padding: 20px 25px 40px 25px;
}
.fas-use{
    background-color: #becdf0;
    padding: 25px;
}
.fas-use p:first-child{
    font-family: "SegmaSemiBold";
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 16px;
}
.fas-use p:nth-child(2){
    font-family: "SegmaRegular";
    font-size: 14px;
    padding-bottom: 25px;
}
.fas-use img{
    width: 220px;
    padding-bottom: 20px;
}
/*********fas notes********/
.fas-notes{
    background-color: #becdf0;
}
.fas-notes-container{
    grid-gap: 25px;
    padding: 0 25px 75px 25px;
}
.fas-notes-container img{
    width: 110px;
}
.fas-notes-container div a{
    text-align: center;
    color: #786aad;
    padding-top: 4px;
    text-decoration: none;
}
.flex{
    display:flex;
    border-bottom: 1px solid #fff;
    padding-bottom: 8px;
    margin-bottom: 12px;
    justify-content: space-between;
}
.flex:last-child{
    border:none;
}
.img-container{
    display: flex;
    justify-content: space-between;
}
.flex img{
    width: 90px;
    height: 90px;
    object-fit: cover;
    margin-right: 4px;
}
.fas-notes-form-fields{
    display: flex;
    flex-direction: column;
    width: 75%;
}
.textarea{
    border: none;
    outline: none;
    margin-top: 12px;
    height: 54px;
    padding: 4px;
}
/*************treatment plan***************/
.treatment-plan{
    background-color: #becdf0;
}
.grid-plan{
    display: grid;
    grid-template-columns: 2fr 2fr 3fr 1fr;
    grid-gap: 4px;
}
.grid-plan p{
    background: #786aad;
    color: #fff !important;
    font-family: "SegmaSemiBold";
    padding: 8px 0 !important;
    font-size: 14px;
    text-align: center;
}
.grid-plan textarea{
    width: 100%;
    padding: 6px 0;
    margin: 6px 0;
    font-size: 16px;
    height: 20px;
    resize: none;
}
.notes{
    margin: 20px 0;
}
.notes textarea{
    width: 100%;
}
.notes p{
    text-align: left !important;
    color: #181b21 !important;
    padding: 8px 0;
}
.download-container{
    display: flex;
    justify-content: space-between;
}
.btn-container{
    display: flex;
    flex-direction: column;
    width: 80%;
}
.btn-container p{
    text-align: left !important;
    font-family: "SegmaMedium";
    color: #181b21 !important;
    font-size: 12px;
    margin-top: 8px;

}
.download-container button{
    width: 253px;
    height: 60px;
    border: none;
    cursor: pointer;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
    margin-bottom: 20px;
    align-items: center;
}
.btn-download{
    background: url("../img/download-btn.png") no-repeat;
}
.btn-email{
    background: url("../img/email-btn.png") no-repeat;
}
.btn-start{
    background: url("../img/start-btn.png") no-repeat;
}
.hit-container{
    text-align: center;
    padding: 35px 0;
}
.hit-container p{
    font-family: "SegmaLight";
    padding: 20px 0;
}
.hit-container a{
    font-family: "SegmaMedium";
    color: #786aad;
    text-decoration: underline;
    cursor: pointer;
}
.hit-container p:last-child{
    font-size: 12px;
    text-align: left;
    padding: 60px 0;
}
.popup-alt-contain{
    padding: 25px 0;
    max-width: 350px;
    text-align: center;
    background: #f5f3f2;
    min-height: 110px;
    line-height: 20px;
    font-family: "SegmaSemiBold";
    color: #786aad;
}
.popup-btn{
    display: flex;
    justify-content: space-around;
    margin-top: 18px;
}
.popup-btn button{
    border: 1px solid #786aad;
    color: #786aad;
    width: 100px;
    height: 40px;
}
.hideMob{
    display: none;
}

.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('http://i.stack.imgur.com/FhHRx.gif') 
                50% 50% 
                no-repeat;
}

body.loading .modal {
    overflow: hidden;   
}

body.loading .modal {
    display: block;
}

.facial-notes span, .patient-notes span{
    display: none;
    border: 1px solid #fff;
    background-color: white;
    padding: 5px;
    min-height: 54px;
}

.patient-notes .displayBlock{
   width: 100%;
   display: block;
}
@media (min-width: 576px){
	.wrapper{
        max-width: 540px;
    }
    .content{
        margin-top: 30px;
        position: absolute;
        left: 48%;
    }
    .img{
        height: 100vh;
        object-fit: cover;
    }
}
@media (min-width: 768px){
    .wrapper{
        max-width: 760px;
    }
    .content{
        margin-top: 85px;
        width: 54%;
        left: 45%;
    }
    .fas-notes-container{
        display: grid;
        grid-template-columns: 110px 1fr;
        grid-gap: 25px;
        padding: 0 25px 75px 25px;
    }
    .img{
        height: auto;
        object-fit: cover;
    }
    .hideMob{
        display: block;
    }
}
@media (min-width: 992px){
    .wrapper{
        max-width: 960px;
    }
    .content{
        margin-top: 85px;
        width: 35%;
        left: 48%;
    }
    .fas-content{
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
    }
    .fas-notes-container{
        grid-gap: 40px;
        padding: 0 150px 75px 50px;
    }
}
@media (min-width: 1200px){
    .wrapper{
        max-width: 1140px;
    }
    .assess{
        font-size: 30px;
    }
    .body{
        font-size: 18px;
        line-height: 22px;
    }
    .list{
        font-size: 16px;
        line-height: 24px;
    }
    .content{
        width: 45%;
    }
}